# Ignore App folder
BatToExePortable/App/BatToExe/Bat_To_Exe_Converter.exe
BatToExePortable/App/BatToExe/Bat_To_Exe_Converter_(x64).exe

# Ignore Data folder
BatToExePortable/Data

# Ignore Work folder
Work

# Ignore log
pac_installer_log.ini
